Dear <%= @referrer.first_name %>,
<br><br>
<p class='paragraph'>
Your referred friend just made their first purchase... which means your $25 credit is now available for use! See your account for details.
<br>
Happy Shopping!
</p>
